* {
    margin: 0;
    padding: 0;
box-sizing: border-box;
}

header{
   display: flex; 
   justify-content: space-around;
   margin-top: 60px;
}
main{
    font-size: 70px;
    text-align: center;
    margin-top: 70px;
}
.qizil{
    height: 350px;
    width: 350px;
    background-color: red;
}
.qizil h2{
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 150px;
}
.ota{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
footer{
    display: flex; 
    justify-content: space-around;
    margin-top: 60px;
 }























